<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>伟明丰查询系统-首页</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]>
    <meta http-equiv="x-ua-compatible" content="IE=9"/><![endif]-->
    <meta name="author" content="sunke"/>
    <meta name="description" content="伟明丰查询系统"/>
    <meta name="keywords" content="伟明丰查询系统"/>
    <meta name="application-name" content="伟明丰查询系统"/>
    <!-- Import google fonts - Heading first/ text second -->
    <link rel='stylesheet' type='text/css'/>
    <th:block th:include="common/style::html"></th:block>
</head>
<body>
<div th:replace="common/top::html"></div>
<div th:replace="common/left::html"></div>
<!--<div th:replace="common/right::html"></div>-->
<div id="content">
    <!-- Start .content-wrapper -->
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 heading">
                <ul id="crumb" class="breadcrumb">
                </ul>
            </div>
        </div>
        <!-- End .row -->
        <div class="row">
            <!-- End col-lg-6 -->
            <div class="col-lg-6 col-md-6 sortable-layout">
                <!-- End .panel -->
                <div class="panel panel-default toggle panelMove panelClose panelRefresh">
                    <!-- Start .panel -->
                    <div class="panel-heading">
                        <h4 class="panel-title"><i class="fa-list"></i> 最近登录</h4>
                    </div>
                    <div class="panel-body">
                        <div class="todo-widget">
                            <ul class="todo-list" id="today">
                                <li class="todo-task-item">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    <div class="todo-priority normal tip"
                                         title="Normal priority">
                                        <i class="im-radio-checked"></i>
                                    </div>
                                    <span class="todo-category label label-primary"> javascript </span>
                                    <div class="todo-task-text">Add scroll function to
                                        template
                                    </div>
                                    <button type="button" class="close todo-close">&times;
                                    </button>
                                </li>
                                <li class="todo-task-item">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    <div class="todo-priority high tip" title="High priority">
                                        <i class="im-radio-checked"></i>
                                    </div>
                                    <span class="todo-category label label-brown"> less </span>
                                    <div class="todo-task-text">Fix main less file</div>
                                    <button type="button" class="close todo-close">&times;
                                    </button>
                                </li>
                                <li class="todo-task-item task-done">
                                    <label class="checkbox">
                                        <input type="checkbox" checked>
                                    </label>
                                    <div class="todo-priority high tip" title="High priority">
                                        <i class="im-radio-checked"></i>
                                    </div>
                                    <span class="todo-category label label-info"> html </span>
                                    <div class="todo-task-text">Change navigation structure
                                    </div>
                                    <button type="button" class="close todo-close">&times;
                                    </button>
                                </li>
                            </ul>
                            <h4 class="todo-period">Tomorrow</h4>
                            <ul class="todo-list" id="tomorrow">
                                <li class="todo-task-item">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    <div class="todo-priority tip" title="Low priority">
                                        <i class="im-radio-checked"></i>
                                    </div>
                                    <span class="todo-category label label-dark"> css </span>
                                    <div class="todo-task-text">Create slide panel widget</div>
                                    <button type="button" class="close todo-close">&times;
                                    </button>
                                </li>
                                <li class="todo-task-item">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                    </label>
                                    <div class="todo-priority medium tip"
                                         title="Medium priority">
                                        <i class="im-radio-checked"></i>
                                    </div>
                                    <span class="todo-category label label-danger"> php </span>
                                    <div class="todo-task-text">Edit the main controller</div>
                                    <button type="button" class="close todo-close">&times;
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- End col-lg-6 -->
        </div>
        <!-- End .row -->
        <!-- Page End here -->
    </div>
    <!-- End .outlet -->
</div>
<!-- End .content-wrapper -->
<div class="clearfix"></div>
</div>
<div th:replace="common/foot::html"></div>
</body>
</html>