<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <title>伟明丰查询系统</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]>
    <meta http-equiv="x-ua-compatible" content="IE=9"/><![endif]-->
    <meta name="author" content="sunke"/>
    <meta name="description" content="伟明丰查询系统"/>
    <meta name="keywords" content="伟明丰查询系统"/>
    <meta name="application-name" content="伟明丰查询系统"/>
    <!-- Import google fonts - Heading first/ text second -->
    <link rel='stylesheet' type='text/css'
          href='http://fonts.googleapis.com/css?family=Open+Sans:400,700|Droid+Sans:400,700'/>
    <!--[if lt IE 9]>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!-- Css files -->
    <!-- Icons -->
    <link href="./css/icons.css" th:href="@{css/icons.css}" rel="stylesheet" media="screen"/>
    <!-- jQueryUI -->
    <link href="./css/sprflat-theme/jquery.ui.all.css" th:href="@{css/sprflat-theme/jquery.ui.all.css}"
          rel="stylesheet"/>
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="./css/bootstrap.css" th:href="@{css/bootstrap.css}" rel="stylesheet"/>
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="./css/plugins.css" th:href="@{css/plugins.css}" rel="stylesheet"/>
    <!-- Main stylesheets (template main css file) -->
    <link href="./css/main.css" th:href="@{css/main.css}" rel="stylesheet"/>
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="./css/custom.css" th:href="@{css/custom.css}" rel="stylesheet"/>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="./img/ico/apple-touch-icon-144-precomposed.png"
          th:href="@{img/ico/apple-touch-icon-144-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="./img/ico/apple-touch-icon-114-precomposed.png"
          th:href="@{img/ico/apple-touch-icon-114-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="./img/ico/apple-touch-icon-72-precomposed.png"
          th:href="@{/img/ico/apple-touch-icon-72-precomposed.png}">
    <link rel="apple-touch-icon-precomposed" href="./img/ico/apple-touch-icon-57-precomposed.png"
          th:href="@{/img/ico/apple-touch-icon-57-precomposed.png}">
    <link rel="icon" href="./img/ico/favicon.ico" th:href="@{img/ico/favicon.ico}" type="image/png">
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc"/>
</head>
<body class="login-page">
<!-- Start #login -->
<div id="login" class="animated bounceIn">
    <img id="logo" src="./img/logo.png" th:src="@{img/logo.png}" alt="伟明丰查询系统" width="240px">
    <!-- Start .login-wrapper -->
    <div class="login-wrapper">
        <ul id="myTab" class="nav nav-tabs nav-justified bn">
            <li>
                <a href="#" data-toggle="tab">登录</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content bn">
            <div class="tab-pane fade active in" id="log-in">
                <div class="social-buttons text-center mt10">
                    <a href="#" class="btn btn-primary btn-alt btn-round btn-lg mr10"><i
                            class="fa-facebook s24"></i></a>
                    <a href="#" class="btn btn-primary btn-alt btn-round btn-lg mr10"><i class="fa-twitter s24"></i></a>
                    <a href="#" class="btn btn-danger btn-alt btn-round btn-lg mr10"><i class="fa-google-plus s24"></i></a>
                    <a href="#" class="btn btn-info btn-alt btn-round btn-lg"><i class="fa-linkedin s24"></i></a>
                </div>
                <div class="seperator">
                    <!--<strong>or</strong>-->
                    <hr>
                </div>
                <form class="form-horizontal mt10" action="/action" id="login-form" role="form" method="post">
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="text" name="userName" id="userName" class="form-control left-icon"
                                   placeholder="请输入账号">
                            <i class="ec-user s16 left-input-icon"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <input type="password" name="password" id="password" class="form-control left-icon"
                                   placeholder="请输入密码">
                            <i class="ec-locked s16 left-input-icon"></i>
                            <!--<span class="help-block"><a href="#"><small>Forgout password ?</small></a></span>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                            <!--<span style="color: red" th:text="${msg}">$</span>-->
                        </div>
                        <!-- col-lg-12 end here -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                            <!-- col-lg-12 start here -->
                            <button class="btn btn-success pull-right" type="submit">登录</button>
                        </div>
                        <!-- col-lg-12 end here -->
                    </div>
                </form>
            </div>
            <!--<div class="tab-pane fade" id="register">-->
            <!--<form class="form-horizontal mt20" action="#" id="register-form" role="form">-->
            <!--<div class="form-group">-->
            <!--<div class="col-lg-12">-->
            <!--&lt;!&ndash; col-lg-12 start here &ndash;&gt;-->
            <!--<input id="email1" name="email" type="email" class="form-control left-icon"-->
            <!--placeholder="Type your email">-->
            <!--<i class="ec-mail s16 left-input-icon"></i>-->
            <!--</div>-->
            <!--&lt;!&ndash; col-lg-12 end here &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<div class="col-lg-12">-->
            <!--&lt;!&ndash; col-lg-12 start here &ndash;&gt;-->
            <!--<input type="password" class="form-control left-icon" id="password1" name="password"-->
            <!--placeholder="Enter your password">-->
            <!--<i class="ec-locked s16 left-input-icon"></i>-->
            <!--</div>-->
            <!--&lt;!&ndash; col-lg-12 end here &ndash;&gt;-->
            <!--<div class="col-lg-12 mt15">-->
            <!--&lt;!&ndash; col-lg-12 start here &ndash;&gt;-->
            <!--<input type="password" class="form-control left-icon" id="confirm_password"-->
            <!--name="confirm_passowrd" placeholder="Repeat password">-->
            <!--<i class="ec-locked s16 left-input-icon"></i>-->
            <!--</div>-->
            <!--&lt;!&ndash; col-lg-12 end here &ndash;&gt;-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<div class="col-lg-12">-->
            <!--&lt;!&ndash; col-lg-12 start here &ndash;&gt;-->
            <!--<button class="btn btn-success btn-block">Register</button>-->
            <!--</div>-->
            <!--&lt;!&ndash; col-lg-12 end here &ndash;&gt;-->
            <!--</div>-->
            <!--</form>-->
            <!--</div>-->
        </div>
    </div>
    <!-- End #.login-wrapper -->
</div>
<!-- End #login -->
<!-- Javascripts -->
<!-- Load pace first -->
<script src="./plugins/core/pace/pace.min.js" th:src="@{plugins/core/pace/pace.min.js}"></script>
<!-- Important javascript libs(put in all pages) -->
<script src="./js/jquery-1.8.3.min.js" th:src="@{js/jquery-1.8.3.min.js}"></script>
<script>
    window.jQuery ||
    document.write('<script src="./js/libs/jquery-2.1.1.min.js" th:src="@{js/libs/jquery-2.1.1.min.js}">\x3C/script>')
</script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
    window.jQuery ||
    document.write('<script src="./js/libs/jquery-ui-1.10.4.min.js" th:src="@{js/libs/jquery-ui-1.10.4.min.js}">\x3C/script>')
</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="./js/libs/excanvas.min.js" th:src="@{js/libs/excanvas.min.js}"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="./js/libs/respond.min.js" th:src="@{js/libs/respond.min.js}"></script>
<![endif]-->
<!-- Bootstrap plugins -->
<script src="./js/bootstrap/bootstrap.js" th:src="@{js/bootstrap/bootstrap.js}"></script>
<!-- Form plugins -->
<script src="./plugins/forms/icheck/jquery.icheck.js"
        th:src="@{plugins/forms/icheck/jquery.icheck.js}"></script>
<script src="./plugins/forms/validation/jquery.validate.js"
        th:src="@{plugins/forms/validation/jquery.validate.js}"></script>
<script src="./plugins/forms/validation/additional-methods.min.js"
        th:src="@{plugins/forms/validation/additional-methods.min.js}"></script>
<!-- Init plugins olny for this page -->
<script src="./js/pages/login.js" th:src="@{js/pages/login.js}"></script>
</body>
</html>