*{font-family:"微软雅黑"; font-size:14px}
input[type='text']{font-family:"微软雅黑";font-size:14px}
#sample-table-1 th{min-width:100px; max-width:400px;}
#queryForm{min-width:1000px; max-width:none;}
#queryForm1{min-width:1100px; max-width:none;}
#navbar-container .dropdown-menu.dropdown-close.dropdown-menu-right {
	right: 0;
}
body {
	-ms-overflow-style: scrollbar;
}
 @media (max-width: 991px) {
	#sidebar {
		width: 0;
		height: 0;
		overflow: hidden;
	}
	.js-visible #sidebar {
		width: 190px;
		height: auto;
	}
	 #sidebar + .main-content {
	 	margin-left: 0;
	 }
	.js-visible #sidebar + .main-content {
		margin-left: 190px;
	}
	
} 
.text-ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}