.vote {
	width: 200px;
	height:200px;
	margin: 20px 20px;
	cursor: pointer;
	padding: 10px 6px;
	display: inline-block;
}
.pic {
	height: 200px;
	width: 200px;
}
.title {
	text-align: center;
	margin-top: 10px;
	height: 35px;
	float: left;
	width: 200px;
	display: block;
	word-break: break-all;
	word-wrap: break-word;
}

.selected{
	background-color: RGB(247,97,109);
	

}